:root {
  /* Font */
  --primary-font: Roboto, sans-serif;
  /* Colors */
  --headings-cl: #2E2F42;
  --text-cl: #434455;
  --CTA-iris: #4D5AE5;
  --CTA-ocean: #404BBF;
  --light-bg: #F4F4FD;
  --white-cl: white;
  --acent-cl: #E7E9FC; 
}

body {
  font-family: var(--primary-font);
  color: var(--text-cl);
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--white-cl);
}

/* Reset */
.list,
ul,
ol {
  list-style: none;
}


.link {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

button {
  font-family: inherit;
  cursor: pointer;
}

/**
  |============================
  | Header section
  |============================
*/

.header {}

.header-nav {
}

.header-logo {
    font-family: Raleway, sans-serif;
      font-weight: 800;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--CTA-iris);
}

.header-logo-blue {
  color: var(--headings-cl);
}

.link {}

.list {}

.header-item {}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--headings-cl)
}

.header-link:hover, .header-link:focus, .header-address.link:hover, .header-address.link:focus {
  color: var(--CTA-ocean);
}

.header-address {
  font-style: normal;
}

.header-address.link {
color: var(--text-cl);
letter-spacing: 0.02em;
}

.main {}

.section {}

/**
  |============================
  | Hero Styles
  |============================
*/

.hero {
  background-color: var(--headings-cl);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-cl);
}

.hero-btn {
  background-color: var(--CTA-iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-cl);
}

.hero-btn:hover, .hero-btn:focus {
  background-color: var(--CTA-ocean);
}

/**
  |============================
  | Features styles
  |============================
*/

.features {}

.features-item {}


.section-features-subtitle, .portfolio-subtitle, .team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--headings-cl);
  letter-spacing: 0.02em;
}

.features-text {}

/**
  |============================
  | What are we doing section
  |============================
*/

.section-product {}

.section-product-list-item {}

.section-product-title, .section-team-title {
  line-height: 1.11;
  font-size: 36px;
  color: var(--headings-cl);
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: center;
}

/**
  |============================
  | Team section styles
  |============================
*/

.team {
  background-color: var(--light-bg);
  letter-spacing: 0.02em;
}

.section-team-title {}

.team-name {
}

.team-list-item {
  background-color: var(--white-cl);
}

.team-name-job {
  font-size: 16px;
}

/**
  |============================
  | Portfolio styles
  |============================
*/

.portfolio {}

.section {}

.portfolio-btn {
  font-weight: 500;
  line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--CTA-iris);
    background-color: var(--light-bg);
      text-transform: capitalize;
}

.portfolio-btn:hover, .portfolio-btn:focus {
background-color: var(--CTA-ocean);
color: var(--white-cl);
}

.portfolio-subtitle {}

.portfolio-filters {}

.portfolio-filters-item {}

.portfolio-examples {}

.portfolio-examples-list-item {}

.portfolio-examples-text {}



/**
  |============================
  | Footer styles
  |============================
*/

.footer {
  background-color: var(--headings-cl);
  color: var(--light-bg);
}

.footer-text {
  letter-spacing: 0.02em;
}

.footer-logo-light {
  color: var(--light-bg);
}